{% extends "_skeleton.html" %}
{% block content %}
        <section class="container">
            <div class="row">
            <aside class="col-md-4">
                <a href="/search" class="btn btn-default btn-block"> <span class="glyphicon glyphicon-search"></span> Search</a>
                <button class="btn btn-default disabled btn-block"> Follow</button>
                <button class="btn btn-default disabled btn-block"> Send</button>

            </aside>
{% block article %}
{% endblock %}
            </div>
        </section>    
{% endblock %}    