{% extends "_skeleton.html" %}
{% block content %}
        <section class="container">
            <div class="row">
            <article class="col-md-8">
                <p><h2>About Me</h2> <small>Cristina Rodríguez Gómez</small></p>
                <p> Python Programmer | Social Media Specialist | Strategic Communications | Journalist </p>
                <p>For more information about my profile, please visit my <a href="https://www.linkedin.com/in/elsacristinarodriguez">LinkedIn</a></p> 
                </p>
            
                
        
            </article>
            </div>
        </section>    
{% endblock %}  
 