{% extends "_base.html" %}
{% block article %}


            <article class="col-md-8">
                <p><h2>Twitter Robot</h2> <small>A project for Hackbright Academy</small>
                <p> The main goal of your Twitter Robot is building community using the Twitter API.</p>
                <p>The first thing that the Twitter Robot does is that you can make a search for an specific hashtag (please make sure that your write the # symbol when you’re searching for a word).</p> 
                <p>Based on your search you can make the next two functions: follow a specific user or send a reply to a specific tweet. Your Twitter Robot has tree messages by default to reply to a tweet. If you don't want to use any of our default messages you can send your personal message (please remember that a tweet has 140 characters).</p>
                <p>Finally, you can write your search in a .txt document or read your last saved .txt</p>
                </p>
                </p>
        
            </article>
  
{% endblock %}    
 