{% extends "_base.html" %}
{% block article %}


            <article class="col-md-8">
                <h2>Search for #Hashtag </h2>
                
                <p>The first thing that the Twitter Robot does is that you can make a search for an specific #hashtag (please make sure that your write the # symbol when you’re searching for a word).</p> 
                
                <form method="POST" action="/search/" class="form-inline">
                    <div class="form-group">
                        <label for="hashtag"> #Hashtag</label>
                        <input type="text" class="form-control" name="hashtag" placeholder="#prueba" value="{{hashtag}}">    
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>

                {% if error %}
                <div class="alert alert-danger">
                <strong>Error</strong> {{error}}  
                </div>
                {% endif %}   
                

                <ol>

                {% for tweet in tweets %}
                <li>
                {% include "_tweet.html" %}
                </li>
                {% endfor %}

                </ol>   

            </article>
  
{% endblock %}    